
#nav-bar{
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  position: fixed;
  top: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo{
  height: 80px;
  width: 80px;
  float: left;;
}

#nav-bar .header{
  float: left;
  font-size: 200%;
  line-height: 200%;
  padding: 10px;

}