.new-tweet{
background-color: #eee;

}

/*.new-tweet form{
  padding-top: 5em;
}*/
textarea{
  width: 100%;
  padding: 0.5em;
}

h2{
  border-bottom: 2px solid black
}

.container .new-tweet{
  width: 90%;
  border-radius: 5px;
  padding: 0.5em;
  margin: auto;
  height: 11em;
  border-style: solid;
  border-width: 1px;
  border: dark gray;
}

.container .counter{
  float: right
}

article{
  width: 90%;
  border-radius: 5px;
  /*padding: 0.5em;*/
  margin: auto;
  border-style: solid black;
  height: 11em;
  border-style: solid;
  border-width: 1px;
}

article > header {
background-color: #eee;

}
article > header > span {
  float: right;
}
article > footer {
  border-top: 1px solid #eee;
  height: 10em;
}

article:hover{
  font-weight: bold;
}

article > img{
  /*margin: 4px;*/
}